{% extends "ProyectoWebApp/base.html" %}

{% load static %} 

{% block content %}
  <!-- Heading -->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/slide1.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="background-color:#734222">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Puntualidad</span>
            <span class="section-heading-lower">El mejor stock</span>
          </h2>
          <p class="mb-3">En la puerta de tu casa en menos de 48 hrs!
            
          </p>

        </div>
      </div>
    </div>
  </section>



  <!-- Message -->
  <section class="page-section cta" style="background-color:transparent">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded" style="background-color:#734222">
            <h2 class="section-heading mb-4" style="background-color:#734222">
              <span class="section-heading-upper">Compromiso total</span>
              <span class="section-heading-lower">Garantizado</span>
            </h2>
            <p class="mb-0">Con más de 30 años de experiencia a nuestras espaldas, "Music Pro" te ofrece los mejores instrumentos
              y accesorios que necesites para llevar a la puerta de su casa con
              puntualidad y profesionalidad.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}