{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}


<!--<p>{{instancia.url}}</p>
    <p>{{instancia.token}}</p> -->


<body >

    {% if instancia %}








    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="list-group col-5">
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-body p-2">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text mb-0">With supporting text below as a natural lead-in to additional content.</p>
                            <img src="{% static 'ProyectoWebApp/img/bajo.jpg' %}" alt="bajo">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-body p-2">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text mb-0">With supporting text below as a natural lead-in to additional content.</p>
                            <img src="{% static 'ProyectoWebApp/img/flauta.jpg' %}" alt="flauta">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-body p-2">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text mb-0">With supporting text below as a natural lead-in to additional content.</p>
                            <img src="{% static 'ProyectoWebApp/img/bateria.jpg' %}" alt="bateria">
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-right">
                <div class="bg-black">
                    <form action="{{instancia.url}}" method="POST" type="hidden" class="text-aling-top">
                        {% csrf_token %}
                        <input type="hidden" name="token_ws" value="{{instancia.token}}" />
                        <input class="btn btn-primary" type="submit" value="pagar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col container text-success">
        <p>Monto a pagar: <span id="amount"></span></p>
        <form id="convert-form">
            <label for="conversion-type">Convertir a:</label>
            <select id="conversion-type">
                <option value="usd">USD</option>
                <option value="clp">CLP</option>
            </select>
            <input type="submit" value="Convertir">
        </form>
        <div id="result-usd"></div>
        <div id="result-clp"></div>
    </div>
    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var amount = 0;  // Variable para almacenar el monto generado
            var exchangeRate = 0;  // Variable para almacenar el tipo de cambio
            
            function generateRandomAmount() {
                amount = Math.ceil(Math.random() * 85000) + 15000;  // Generar valor aleatorio por encima de 15,000
                $('#amount').text(amount.toLocaleString() + ' CLP');  // Mostrar el monto generado
            }
            
            function convertToUSD() {
                var convertedAmount = Math.round(amount / exchangeRate * 100) / 100;  // Redondear a 2 decimales
                
                $('#result-clp').hide();  // Ocultar monto original en CLP
                $('#result-usd').html('<h2>Resultado de la conversión</h2>' +
                    '<p>Monto convertido: ' + convertedAmount.toLocaleString() + ' USD</p>').show();
            }
            
            function convertToCLP() {
                var convertedAmount = Math.round(amount * exchangeRate);
                
                $('#result-usd').hide();  // Ocultar monto original en USD
                $('#result-clp').html('<h2>Resultado de la conversión</h2>' +
                    '<p>Monto convertido: ' + convertedAmount.toLocaleString() + ' CLP</p>').show();
            }
            
            var url = "https://mindicador.cl/api/dolar";
            
            // Obtener el tipo de cambio
            $.get(url, function(data) {
                if (data && data.serie && data.serie.length > 0) {
                    exchangeRate = data.serie[0].valor;
                } else {
                    $('#result-usd').html('<p>Error en la solicitud de conversión.</p>').show();
                    $('#result-clp').html('<p>Error en la solicitud de conversión.</p>').show();
                }
            }).fail(function() {
                $('#result-usd').html('<p>Error en la solicitud de conversión.</p>').show();
                $('#result-clp').html('<p>Error en la solicitud de conversión.</p>').show();
            });
            
            // Generar el monto aleatorio al cargar la página
            generateRandomAmount();
            
            // Manejar el envío del formulario
            $('#convert-form').submit(function(e) {
                e.preventDefault();
                
                var conversionType = $('#conversion-type').val();
                
                if (conversionType === 'usd') {
                    convertToUSD();
                } else if (conversionType === 'clp') {
                    convertToCLP();
                }
            });
            
            // Manejar el botón "Generar nuevo monto"
            $('#generate-amount-btn').click(function() {
                generateRandomAmount();
            });
        });
    </script>

    {% endif %}

</body>
{% endblock %}