{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}


<!--<p>{{instancia.url}}</p>
    <p>{{instancia.token}}</p> -->


<body >

    {% if instancia %}

    <div class="col-2">
        <div class="row-2">
            <img src="../img/bateria.jpg" alt="">
        </div>
    </div>




    <div class="bg-black">

        <form action="{{instancia.url}}" method="POST" type="hidden" class="text-center ">
            {% csrf_token %}
            <input type="hidden" name="token_ws" value="{{instancia.token}}" />
            <input class="btn btn-primary" type="submit" value="pagar" />
        </form>
    </div>

    {% endif %}

</body>
{% endblock %}