{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}


<!--<p>{{instancia.url}}</p>
    <p>{{instancia.token}}</p> -->


<body >

    {% if instancia %}

    
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="list-group col-5">
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-body p-2">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text mb-0">With supporting text below as a natural lead-in to additional content.</p>
                            <img src="{% static 'ProyectoWebApp/img/bajo.jpg' %}" alt="bajo">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-body p-2">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text mb-0">With supporting text below as a natural lead-in to additional content.</p>
                            <img src="{% static 'ProyectoWebApp/img/flauta.jpg' %}" alt="flauta">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-body p-2">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text mb-0">With supporting text below as a natural lead-in to additional content.</p>
                            <img src="{% static 'ProyectoWebApp/img/bateria.jpg' %}" alt="bateria">
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-right">
                <div class="bg-black">
                    <form action="{{instancia.url}}" method="POST" type="hidden" class="text-aling-top">
                        {% csrf_token %}
                        <input type="hidden" name="token_ws" value="{{instancia.token}}" />
                        <input class="btn btn-primary" type="submit" value="pagar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    

    {% endif %}

</body>
{% endblock %}