{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}



<div class="container">
    <div class="row">
      {% for instrumento in instrumentos %}
      <div class="col-md-2 mb-4">
        <div class="card" style="max-width: 150px;">
          {% if instrumento.photos %}
          <img src="{{ instrumento.photos.0.url }}" class="card-img-top" alt="Imagen del producto">
          {% else %}
          <img src="{% static 'ProyectoWebApp/images/default-image.jpg' %}" class="card-img-top" alt="Imagen por defecto">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ instrumento.title }}</h5>
            <div class="card-text">
              {{ instrumento.description | safe }}
            </div>
            <p class="card-text">Precio: {{ instrumento.price.display }}</p>
            <a href="#" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}